<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--20240222-5-->
<body>
        <h2>로그인 페이지</h2>
    <form method="post" action="/login_chk">
        ID : <input type="text" name="id"> <br>
        PW : <input type="password" name="pw">
        <button>로그인</button>
        <th:block th:if="${param.error != null}">
            <b> login Error! </b>
            <b th:text="${error_message}" ></b>
        </th:block>
    </form>
</body>
</html>